.regp
    display: flex
    flex-direction: column
    width: 100%
    margin: 0
    box-sizing: border-box
    align-items: center
    section
        display: flex
        width: 100%
        box-sizing: border-box
        align-items: center
        input
            background: white
            width: 100%
            height: 100%
            padding: 10px
            font-size: 1.25rem
            box-sizing: border-box
            @media only screen and (max-width: 1024px)
                width: 95%
        button
            width: 400px
            padding: 10px
            font-size: 1.5rem
            background: lightgray
            box-sizing: border-box
            margin: 20px
            &:hover
                background: green
                cursor: pointer
                color: white
            @media only screen and (max-width: 1024px)
                font-size: 1.25rem
                width: 95%
                margin-top: 10px
        button:disabled
            pointer-events: none
        @media only screen and (max-width: 1024px)
            flex-direction: column

    button
        padding: 10px
        font-size: 1.5rem
        background: lightgray
        box-sizing: border-box
        margin-right: 20px
        &:hover
            background: green
            cursor: pointer
            color: white
        @media only screen and (max-width: 1024px)
            font-size: 1.25rem
            width: 95%
            margin: 0

    .lesson
        display: flex
        flex-direction: column
        position: relative
        div
            display: flex
            align-items: center
            h2
                font-size: 1.5rem
                padding: 20px
                box-sizing: border-box
                background: springgreen
                margin: 0px
                @media only screen and (max-width: 1024px)
                    margin: 0
                    text-align: center
                    width: 100%
                    padding: 20px 5px

            button
                display: flex
                align-items: center
                margin: 0
                width: 75px
                background: transparent
                border: none
                @media only screen and (max-width: 1024px)
                    flex-direction: row
                    &::after
                        margin-left: 5px
                        content: "help?"
                        color: red  
                &:hover
                    &::after
                        margin-left: 5px
                        content: "help?"
                        color: red                
                img
                    width: 50px
            .helpO
                &::after
                    margin-left: 5px
                    content: "help?"
                    color: red       
            @media only screen and (max-width: 1024px)
                flex-direction: column-reverse
                width: 100%  
        p, pre
            font-size: 1.5rem
            padding: 20px
            overflow-wrap: anywhere
            white-space: pre-wrap
            width: 90%
            margin: 0px 20px 20px 20px
            border: 2px dashed black
            background: springgreen    
            @media only screen and (max-width: 1024px)
                margin: 0 0 20px 0
        span
            background: white
        .help
            display: flex
            flex-direction: column
            align-items: flex-start
            position: absolute
            top: 75px
            width: 90%
            padding: 20px
            background: #00FF80
            border: 2px solid #00FF80
            @media only screen and (max-width: 1024px)
                top: 155px
            h3
                margin-bottom: 0 

            section
                display: flex
                flex-direction: column
                width: 100%
                div
                    display: flex
                    justify-content: space-around
                    align-items: center
                    flex-direction: row
                    width: 100%
                div:nth-child(even)
                    justify-content: flex-start
                div:nth-child(odd)
                    display: grid
                    grid-template-columns: 2fr 4fr
                    grid-gap: 10px
                    justify-content: flex-start
                    background: white
                    margin-top: 20px
                    padding: 10px 10px 10px 20px
                h4
                    color: red
                    font-weight: bold
                    font-size: 1.25rem
                    margin: 2px
                    @media only screen and (max-width: 1024px)
                        font-size: 1.25rem
                p
                    all: initial
                    font-family: "Inter var","Inter web",-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji
                    font-size: 1.25rem
                    @media only screen and (max-width: 1024px)
                        font-size: 1rem

    p, pre
        font-size: 1.5rem
        padding: 20px
        overflow-wrap: anywhere
        margin: 20px 20px 0 0
        border: 2px dashed black
        background: springgreen
        @media only screen and (max-width: 1024px)
            margin-right: 0
    span
        background: white
        border: 1px solid black
        padding: 2px
    .search
        position: sticky
        top: 0
        background: white
        z-index: 10
        div
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%
            @media only screen and (max-width: 1024px)
                width: 95%
            input
                border: 0
                border-bottom: 2px solid green
                width: 100%
                @media only screen and (max-width: 1024px)
                    width: 90%
            .flags
                width: 15%
                box-sizing: border-box
                @media only screen and (max-width: 1024px)
                    width: 25%
        h2
            margin: 10px
    

